.breadcrumb {
	padding-top: $base-spacing-unit;
}

.case-intro {
	@include gs-span(d, 1, 9);	
}

.full-case-name {
	@extend .epsilon;
	@extend .italic;
	margin-bottom: ($base-spacing-unit/12);
	font-weight: normal;
}

.case-number {
	@extend .zeta;
	margin-bottom: ($base-spacing-unit/4);
	font-weight: normal;
}

.accused {
	@include gs-span(d, 10, 12);	
}

.accused-name {
	@extend .gamma;
}	


.featured {
	padding-top: $base-spacing-unit;
	clear: both;
	@include gs-span(d, 1, 4);	
}

.court-records {
	padding-top: $base-spacing-unit;
	@include gs-span(d, 5, 8);	
}

.case-news {
	padding-top: $base-spacing-unit;
	@include gs-span(d, 9, 12);	
}

.date {
	@extend .zeta;
	padding-right: ($base-spacing-unit);
}

.type {
	@extend .zeta;
}

.article-title {
	@extend .epsilon;
	margin-bottom: ($base-spacing-unit/12);
}

.featured-title {
	@extend .delta;
	margin-bottom: ($base-spacing-unit/6);
}

.timeline {
	clear: both;
	padding-bottom: $base-spacing-unit;
}

.section-title {
	@extend .beta;
	padding-top: $base-spacing-unit;
}

.filings-by-party {
	padding-top: $base-spacing-unit;
}

.chambers-filings {
	clear:both;
	@include gs-span(d, 1, 3);	
}

.otp-filings {
	@include gs-span(d, 4, 6);	
}

.defence-filings {
	@include gs-span(d, 7, 9);	
}

.victims-filings {
	@include gs-span(d, 10, 12);	
}

.transcripts {
	clear:both;
	@include gs-span(d, 1, 6);	
}

.multimedia {
	@include gs-span(d, 7, 12);	
}

.in-the-field {
	clear:both;
}

.in-the-field-intro {
	@include gs-span(d, 1, 4);	
}

.outreach-news-article {
	@include gs-span(d, 5, 12);
}

.ask-the-court {
	clear:both;
	@include gs-span(d, 1, 6);	
}

.related-cases {
	@include gs-span(d, 7, 12);	
}

.ask-question {
	margin-bottom: ($base-spacing-unit/6);
}
